$shadowMainColor: #F23827;
$mainColor: #F25041;
$lightMainColor: #F27166;
$black: #404040;
$white: #F2F2F2;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto;
}

#container{
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: 150px auto 80px;
  min-height: 100vh;
}

.page-top{
  grid-column: 1/7;
  grid-row: 1/1;
  background-color: $mainColor;
  display: flex;
  align-items: center;
  padding: 0 50px;

  > span{
    color: $white;
  }

  &__img{
    width: 100px;
    margin-right: 20px;
  }

  &__options{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;

    &-addBlock{
      padding: 5px 10px;
      background-color: $white;
      border: 1px solid $black;
      border-radius: 20px;
      color: $black;
      transition: 1s color, 1s background;
      cursor: pointer;

      &:hover{
        color: $white;
        background-color: $black;
      }
    }
    > input{
      padding: 0 10px;
      background-color: $white;
      border: 1px solid $black;
      border-radius: 20px;
      outline: none;
      transition: 500ms border;

      &:focus{
        border-bottom: 4px solid black;
      }
    }
  }

}

.page-mid{
  background-color: $white;
  grid-row: 2;
  grid-column: 1/7;

  &__cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &-msg{
      margin-top: 250px;
    }
  }
}

.cards{
  list-style-type: none;
  width: 300px;
  border: 1px solid $black;
  margin: 20px;

  &-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px 5px;

    &__title{
      word-wrap: break-word;
      width: 280px;
      text-align: center;
    }

    &__options{
      width: 80px;

      &-delete{
        margin: 10px;
        padding: 5px 8px;
        border-radius: 5px;
        background-color: $shadowMainColor;
        transition: 200ms color;
        position: relative;
        top: -10px;
        &:hover{
          color: white;
        }
      }
      &-edit{
        padding: 5px 8px;
        border-radius: 5px;
        background-color: $lightMainColor;
        transition: 200ms color;
        position: relative;
        top: -10px; 
        &:hover{
          color: white;
        }
      }
    }
  }
  &-mid{
    margin: 20px 5px 10px;
  }
  &-text{
    width: 290px;
    word-wrap: break-word;
    text-align: center;
  }
}

.page-bot{
  background-color: $mainColor;
  grid-row: 3;
  grid-column: 1/7;
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: $black, $alpha: 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  visibility: hidden;

  &-box{
    width: 500px;
    height: 400px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.formModal{
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  
  > label{
    font-size: 20px;
    font-weight: 500;
  }

  &-title{
    margin: 5px;
    width: 200px;
    height: 25px;
  }

  &-text{
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 200px;
    resize: none;
  }

}

.confirmModal{
  width: 80px;
  height: 25px;
  background-color: $black;
  border: none;
  color: white;
  transition: 500ms background, 500ms color;

  &:hover{
    background-color: $white;
    border: 2px solid $black;
    color: $black;
  }
}