<div class="modal">
  <div class="modal__box">
    <div class="modal__head">
      <img class="modal__confirm" src="../../public/img/check.svg" alt="Confirmação">
      <h2 class="modal__title">Sucesso!</h2>
    </div>
    <div class="modal__body">
      <p class="modal__text">O cartão foi salvo, redirecione a página para visualização.</p>
      <button class="modal__redirect" type="submit">Ir para a página principal</button>
    </div>
  </div>
</div>
