<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/style.css" type="text/css">
  <title>To-do</title>
</head>

<body>
  <div id="container">
    <%- include('./components/header.ejs') %>
      <%- include('./components/mainCards.ejs') %>
        <%- include('./components/footer.ejs') %>
  </div>
  <script src="public/js/editPage.js"></script>

</body>

</html>
