<header class="header">
  <img class="header__img" src="../public/img/book.png" alt="logo">
  <span class="header__title">To-do</span>
  <div class="header__options">
    <span class="header__options-addBlock">Adicionar nota</span>
    <input class="header__options-search" type="text">
  </div>
</header>
