html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 150px repeat(6, auto) 110px;
  min-height: 100vh;
  grid-template-areas: "header header header header" "main main main main" "card card card card" "card card card card" "card card card card" "card card card card" "card card card card" "footer footer footer footer";
  gap: 10px;
  font-family: roboto;
}

.modal__box__form, .modal__box, .modal, .footer, .card__options, .main__cards, .main__settings > label, .main__settings, .header {
  display: flex;
  align-items: center;
}

.card__delete, .card__edit {
  padding: 5px 8px;
  border-radius: 5px;
  background-color: #9AA0D9;
  transition: 200ms background;
  margin: 5px;
}
.card__delete:hover, .card__edit:hover {
  background-color: #656fc2;
}

.card__type {
  background: #9AA0D9;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 0 8px;
  word-wrap: break-word;
}

.header {
  background-color: #9AA0D9;
  grid-area: header;
  padding: 0 50px;
}
.header__title {
  font-weight: 500;
  font-size: 96px;
  color: black;
  letter-spacing: 0.8px;
  margin-left: 24px;
  text-decoration: none;
}

.modal__box__form, .modal__box, .modal, .footer, .card__options, .main__cards, .main__settings > label, .main__settings, .header {
  display: flex;
  align-items: center;
}

.card__delete, .card__edit {
  padding: 5px 8px;
  border-radius: 5px;
  background-color: #9AA0D9;
  transition: 200ms background;
  margin: 5px;
}
.card__delete:hover, .card__edit:hover {
  background-color: #656fc2;
}

.card__type {
  background: #9AA0D9;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 0 8px;
  word-wrap: break-word;
}

.main {
  grid-area: main;
  margin: 0 50px;
}
.main__settings {
  flex-wrap: wrap;
  justify-content: space-between;
}
.main__settings > a {
  font-weight: 500;
  font-size: 24px;
  color: #323232;
  text-decoration: none;
}
.main__settings > a:hover {
  text-decoration: underline;
  text-decoration-color: #323232;
}
.main__input {
  width: 225px;
  height: 35px;
  padding-left: 35px;
}
.main__img {
  width: 20px;
  height: 20px;
  position: relative;
  left: 30px;
}
.main__cards {
  flex-wrap: wrap;
  grid-area: card;
  justify-content: center;
}
.main__empty {
  font-weight: 500;
  font-size: 30px;
}

@media screen and (max-width: 375px) {
  .main__settings {
    justify-content: center;
  }
  .main__settings > label {
    margin-bottom: 20px;
  }
}
.modal__box__form, .modal__box, .modal, .footer, .card__options, .header, .main__settings, .main__settings > label, .main__cards {
  display: flex;
  align-items: center;
}

.card__delete, .card__edit {
  padding: 5px 8px;
  border-radius: 5px;
  background-color: #9AA0D9;
  transition: 200ms background;
  margin: 5px;
}
.card__delete:hover, .card__edit:hover {
  background-color: #656fc2;
}

.card__type {
  background: #9AA0D9;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 0 8px;
  word-wrap: break-word;
}

.mainCards {
  grid-area: card;
  padding: 0 50px;
}
.mainCards__content {
  font-weight: 500;
  font-size: 24px;
  grid-area: main;
  margin: 0 50px;
}
.mainCards__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.mainCards__title, .mainCards__type, .mainCards__text {
  padding: 0;
  padding-left: 20px;
  width: 640px;
}
.mainCards__title::placeholder, .mainCards__type::placeholder, .mainCards__text::placeholder {
  font-family: roboto;
  padding-top: 70px;
  text-align: center;
}
.mainCards__label {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
}
.mainCards__text {
  font-family: roboto;
  height: 170px;
  padding-top: 10px;
  resize: none;
}
.mainCards__submit {
  width: 120px;
  height: 35px;
  font-weight: 500;
  font-size: 20px;
  background-color: #323232;
  border-color: black;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: 500ms;
}
.mainCards__submit:hover {
  background-color: #F5F5F5;
  color: #323232;
}
.mainCards__alert {
  margin-top: 5px;
  color: red;
}

.modal__box__form, .modal__box, .modal, .footer, .card__options, .header, .main__settings, .main__settings > label, .main__cards {
  display: flex;
  align-items: center;
}

.card__delete, .card__edit {
  padding: 5px 8px;
  border-radius: 5px;
  background-color: #9AA0D9;
  transition: 200ms background;
  margin: 5px;
}
.card__delete:hover, .card__edit:hover {
  background-color: #656fc2;
}

.card__type {
  background: #9AA0D9;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 0 8px;
  word-wrap: break-word;
}

.card {
  width: 300px;
  border: 1px solid black;
  list-style-type: none;
  margin: 20px;
  padding: 5px;
}
.card__title, .card__text {
  text-align: center;
  word-wrap: break-word;
}
.card__title {
  width: 280px;
  font-weight: 500;
  font-size: 26px;
  margin: 10px 5px;
}
.card__text {
  width: 290px;
  margin: 20px 5px 30px;
}
.card__delete > svg, .card__edit > svg {
  width: 24px;
  height: 24px;
}
.card__options {
  justify-content: flex-end;
}

.modal__box__form, .modal__box, .modal, .footer, .header, .main__settings, .main__settings > label, .main__cards, .card__options {
  display: flex;
  align-items: center;
}

.card__delete, .card__edit {
  padding: 5px 8px;
  border-radius: 5px;
  background-color: #9AA0D9;
  transition: 200ms background;
  margin: 5px;
}
.card__delete:hover, .card__edit:hover {
  background-color: #656fc2;
}

.card__type {
  background: #9AA0D9;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 0 8px;
  word-wrap: break-word;
}

.footer {
  background-color: #9AA0D9;
  flex-wrap: wrap;
  grid-area: footer;
  justify-content: space-between;
  padding: 0 50px;
}
.footer__text {
  font-weight: 500;
  font-size: 20px;
}
.footer__img {
  width: 50px;
  height: 50px;
  transition: 250ms;
}
.footer__img:hover {
  fill: #F5F5F5;
}

@media screen and (max-height: 375px) {
  .footer__text {
    word-break: break-word;
    width: 200px;
  }
}
.modal__box__form, .modal__box, .modal, .header, .main__settings, .main__settings > label, .main__cards, .card__options, .footer {
  display: flex;
  align-items: center;
}

.card__delete, .card__edit {
  padding: 5px 8px;
  border-radius: 5px;
  background-color: #9AA0D9;
  transition: 200ms background;
  margin: 5px;
}
.card__delete:hover, .card__edit:hover {
  background-color: #656fc2;
}

.card__type {
  background: #9AA0D9;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 0 8px;
  word-wrap: break-word;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  visibility: hidden;
}
.modal__box {
  width: 500px;
  height: 400px;
  flex-direction: column;
  background-color: black;
}
.modal__box__form {
  flex-direction: column;
  padding-bottom: 20px;
}
.modal__box__form-label {
  font-size: 20px;
  font-weight: 500;
}
.modal__box__form-title, .modal__box__form-text {
  width: 200px;
  height: 25px;
  margin: 5px;
}
.modal__box__form-text {
  height: 200px;
  padding: 5px;
  resize: none;
}
.modal__box__buttons-create, .modal__box__buttons-close {
  width: 80px;
  height: 25px;
}

/*# sourceMappingURL=style.css.map */
