html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#container {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: 150px auto 80px;
  min-height: 100vh;
  grid-template-areas: "header header header header header header" "main main main main main main" "footer footer footer footer footer footer";
  font-family: roboto;
}

.modal__box__form, .modal__box, .modal, .footer, .main__cards, .header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__options-addBlock, .header__options-search {
  background-color: #dddddd;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.card__title, .card__text {
  word-wrap: break-word;
  text-align: center;
}

.card__delete, .card__edit {
  padding: 5px 8px;
  border-radius: 5px;
  background-color: #516c8d;
  transition: 200ms color;
  position: relative;
  top: -10px;
}
.card__delete:hover, .card__edit:hover {
  color: white;
}

.modal__box__buttons-create, .modal__box__buttons-close {
  background-color: black;
  border: none;
  color: #dddddd;
  transition: 500ms background, 500ms color;
}
.modal__box__buttons-create:hover, .modal__box__buttons-close:hover {
  background-color: #dddddd;
  border: 2px solid black;
  color: black;
}

.header {
  background-color: #304163;
  grid-area: header;
  display: flex;
  padding: 0 50px;
}
.header__img {
  width: 100px;
  margin-right: 20px;
}
.header__title {
  color: #dddddd;
}
.header__options {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
}
.header__options-addBlock {
  color: black;
  transition: 500ms color, 500ms background;
}
.header__options-addBlock:hover {
  color: #dddddd;
  background-color: #304163;
}
.header__options-search {
  outline: none;
  transition: 500ms border;
}
.header__options-search:focus {
  border-bottom: 2px solid black;
}

.modal__box__form, .modal__box, .modal, .footer, .main__cards, .header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__options-addBlock, .header__options-search {
  background-color: #dddddd;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.card__title, .card__text {
  word-wrap: break-word;
  text-align: center;
}

.card__delete, .card__edit {
  padding: 5px 8px;
  border-radius: 5px;
  background-color: #516c8d;
  transition: 200ms color;
  position: relative;
  top: -10px;
}
.card__delete:hover, .card__edit:hover {
  color: white;
}

.modal__box__buttons-create, .modal__box__buttons-close {
  background-color: black;
  border: none;
  color: #dddddd;
  transition: 500ms background, 500ms color;
}
.modal__box__buttons-create:hover, .modal__box__buttons-close:hover {
  background-color: #dddddd;
  border: 2px solid black;
  color: black;
}

.main {
  background-color: #dddddd;
  grid-area: main;
}
.main__cards {
  flex-wrap: wrap;
}
.main__cards-msg {
  margin-top: 250px;
}

.modal__box__form, .modal__box, .modal, .footer, .header, .main__cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__options-addBlock, .header__options-search {
  background-color: #dddddd;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.card__title, .card__text {
  word-wrap: break-word;
  text-align: center;
}

.card__delete, .card__edit {
  padding: 5px 8px;
  border-radius: 5px;
  background-color: #516c8d;
  transition: 200ms color;
  position: relative;
  top: -10px;
}
.card__delete:hover, .card__edit:hover {
  color: white;
}

.modal__box__buttons-create, .modal__box__buttons-close {
  background-color: black;
  border: none;
  color: #dddddd;
  transition: 500ms background, 500ms color;
}
.modal__box__buttons-create:hover, .modal__box__buttons-close:hover {
  background-color: #dddddd;
  border: 2px solid black;
  color: black;
}

.card {
  width: 300px;
  list-style-type: none;
  border: 1px solid black;
  margin: 20px;
}
.card__title {
  width: 280px;
  margin: 10px 5px;
}
.card__text {
  width: 290px;
  margin: 20px 5px 30px;
}
.card__delete, .card__edit {
  margin: 5px;
}

.modal__box__form, .modal__box, .modal, .footer, .header, .main__cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__options-addBlock, .header__options-search {
  background-color: #dddddd;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.card__title, .card__text {
  word-wrap: break-word;
  text-align: center;
}

.card__delete, .card__edit {
  padding: 5px 8px;
  border-radius: 5px;
  background-color: #516c8d;
  transition: 200ms color;
  position: relative;
  top: -10px;
}
.card__delete:hover, .card__edit:hover {
  color: white;
}

.modal__box__buttons-create, .modal__box__buttons-close {
  background-color: black;
  border: none;
  color: #dddddd;
  transition: 500ms background, 500ms color;
}
.modal__box__buttons-create:hover, .modal__box__buttons-close:hover {
  background-color: #dddddd;
  border: 2px solid black;
  color: black;
}

.footer {
  background-color: #304163;
  grid-area: footer;
  display: flex;
}
.footer__text {
  color: black;
}

.modal__box__form, .modal__box, .modal, .header, .main__cards, .footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__options-addBlock, .header__options-search {
  background-color: #dddddd;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.card__title, .card__text {
  word-wrap: break-word;
  text-align: center;
}

.card__delete, .card__edit {
  padding: 5px 8px;
  border-radius: 5px;
  background-color: #516c8d;
  transition: 200ms color;
  position: relative;
  top: -10px;
}
.card__delete:hover, .card__edit:hover {
  color: white;
}

.modal__box__buttons-create, .modal__box__buttons-close {
  background-color: black;
  border: none;
  color: #dddddd;
  transition: 500ms background, 500ms color;
}
.modal__box__buttons-create:hover, .modal__box__buttons-close:hover {
  background-color: #dddddd;
  border: 2px solid black;
  color: black;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  visibility: hidden;
}
.modal__box {
  width: 500px;
  height: 400px;
  flex-direction: column;
  background-color: #dddddd;
}
.modal__box__form {
  flex-direction: column;
  padding-bottom: 20px;
}
.modal__box__form-label {
  font-size: 20px;
  font-weight: 500;
}
.modal__box__form-title, .modal__box__form-text {
  width: 200px;
  height: 25px;
  margin: 5px;
}
.modal__box__form-text {
  height: 200px;
  padding: 5px;
  resize: none;
}
.modal__box__buttons-create, .modal__box__buttons-close {
  width: 80px;
  height: 25px;
}

/*# sourceMappingURL=style.css.map */
