@import '../abstracts/global';

.card{
  @include areas(300px, 0);
  border: 1px solid black;
  list-style-type: none;
  margin: 20px;
  padding: 5px;


    &__title,
    &__text{
      text-align: center;
      word-wrap: break-word;
    }

    &__title{
      @include areas(280px, 0);
      @include stylingText(26px);
      margin: 10px 5px;
    }

    &__text{
      @include areas(290px, 0);
      margin: 20px 5px 30px;
    }

    &__type{
      @extend %labelCard;
    }

    &__delete,
    &__edit{
      @extend %buttonsCard;

      > svg {
        @include areas(24px, 24px, true);
      }
    }

    &__options{
      @extend %centeredItens;
      justify-content: flex-end;
    }

}
