@import '../abstracts/global';

.footer{
  @extend %centeredItens;
  background-color: $mainColor;
  flex-wrap: wrap;
  grid-area: footer;
  justify-content: space-between;
  padding: $space50;

  &__text{
    @include stylingText(20px);
  }

  &__img{
    @include areas(50px, 50px, true);
    transition: 250ms;

    &:hover{
      fill: $baseColor;
    }
  }
}
@media screen and (max-height: 375px){
  .footer{
    &__text{
      word-break: break-word;
      width: 200px;
    }
  }
}
