@import '../abstracts/global';

.footer{
  grid-area: footer;
  background-color: $mainColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;

  &__text{
    font-size: 20px;
    font-weight: 500;
  }

  &__img{
    width: 50px;
    height: 50px;
    transition: 250ms;
    &:hover{
      fill: $baseColor;
    }
  }
}
