@import '../abstracts/global';

.header{
  @extend %centeredItens;
  background-color: $mainColor;
  grid-area: header;
  padding: $space50;

  &__title{
    @include stylingText(96px);
    color: black;
    letter-spacing: .8px;
    margin-left: 24px;
    text-decoration: none;
  }
}
