@import '../abstracts/global';

.header{
  grid-area: header;
  background-color: $mainColor;
  padding: 0 50px;
  display: flex;
  align-items: center;

  &__title{
    color: black;
    font-size: 96px;
    font-weight: 500;
    letter-spacing: .8px;
    text-decoration: none;
    padding-left: 24px;
  }
}
