@import '../abstracts/global';

.modal{
  @include areas(100vw, 100vh, true);
  @extend %centeredItens;
  background-color: rgba($color: black, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  justify-content: center;

  &__box{
    @include areas(500px, 400px, true);
    flex-direction: column;
    background-color: $baseColor;
    border-radius: 10px
  }

  &__head{
    @extend %centeredItens;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
  }

  &__confirm{
    width: 80px;
    height: 80px;
    fill: $confirmColor;
  }

  &__title{
    font-size: 48px;
  }

  &__body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
  }

  &__text{
    font-size: 18px;
    width: 300px;
    text-align: center;
  }

  &__redirect{
    @include stylingText(18px);
    background-color: $blackColor;
    border-color: black;
    border-radius: 3px;
    color: $baseColor;
    cursor: pointer;
    transition: 500ms;
    margin-top: 60px;

    &:hover{
      background-color: $baseColor;
      color: $blackColor;
    }
  }
}
