@import './variables';

@mixin areas($width, $height, $containHeight: false){
  width: $width;

  @if $containHeight {
    height: $height;
  }
}
@mixin stylingText($fontSize){
  font-weight: $standartWeight;
  font-size: $fontSize;
}

%centeredItens{
  display: flex;
  align-items: center;
}

%buttonsCard{
  padding: 5px 8px;
  border-radius: 5px;
  background-color: $mainColor;
  transition: 200ms background;
  margin: 5px;

  &:hover{
    background-color: $mainColor__hover;
  }
}

%labelCard{
  background: $mainColor;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 0 8px;
  word-wrap: break-word;
}
