@import '../abstracts/global';

.mainCards{
  grid-area: card;
  padding: $space50;

  &__content{
    @include stylingText(24px);
    grid-area: main;
    margin: $space50;
  }

  &__form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

    &__title,
    &__type,
    &__text{
      padding: 0;
      padding-left: 20px;
      width: 45vw;

      &::placeholder{
        font-family: roboto;
        padding-top: 70px;
        text-align: center;
      }
    }

  &__label{
    @include stylingText(20px);
    margin-bottom: 5px;
  }

  &__text{
    font-family: roboto;
    height: 170px;
    padding-top: 10px;
    resize: none;
  }

  &__submit{
    @include areas(120px, 35px, true);
    @include stylingText(20px);
    background-color: $blackColor;
    border-color: black;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: 500ms;

    &:hover{
      background-color: $baseColor;
      color: $blackColor;
    }
  }

  &__alert{
    margin-top: 5px;
    color: red;
  }
}

@media (max-width: 450px){
  .header__title{
    margin: 0 auto;
  }
  .mainCards__title,
  .mainCards__type,
  .mainCards__text{
    width: 275px;
  }
}
