@import '../abstracts/global';

.main{
  grid-area: main;
  margin: $space50;

  &__settings{
    @extend %centeredItens;
    flex-wrap: wrap;
    justify-content: space-between;

    > label{
      @extend %centeredItens;
    }
    > a{
      @include stylingText(24px);
      color: $blackColor;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
        text-decoration-color: $blackColor;
      }
    }
  }

  &__input{
    @include areas(225px, 35px, true);
    padding-left: 35px;
  }
  &__select{
    @include areas(70px, 41px, true);
    font-size: 16px;
    margin-left: -69px;
  }

  &__img{
    @include areas(20px, 20px, true);
    position: relative;
    left: 30px;
  }

  &__cards{
    @extend %centeredItens;
    flex-wrap: wrap;
    grid-area: card;
    justify-content: center;
  }

  &__empty{
    @include stylingText(30px);
  }
}

@media screen and (max-width: 375px){
  .main{
    &__settings{
      justify-content: center;
      >label{
        margin-bottom: 20px;
      }
    }
  }
}
