@import '../abstracts/global';

.main{
  grid-area: main;
  padding: 0 50px;

  &__settings{
    display: flex;
    justify-content: space-between;
    align-items: center;

    > label{
      display: flex;
      align-items: center;
    }
    > a{
      font-size: 24px;
      font-weight: 500;
      text-decoration: none;
      color: black;

      &:hover{
        text-decoration: underline;
        text-decoration-color: $blackColor;
      }
    }
  }

  &__input{
    width: 224px;
    height: 34px;
    padding-left: 35px;
  }

  &__img{
    width: 20px;
    height: 20px;
    position: relative;
    left: 30px;
  }

  &__cards{
    grid-area: card;
    @extend %centeredItens;
    flex-wrap: wrap;
  }

  &__empty{
    font-size: 30px;
    font-weight: 500;
  }
}
